@import "variables.scss";
@import "contacto.scss";
@import "home.scss";
@import "footer.scss";
@import "nosotros.scss";


    .galeria {
        display:grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows:300px;
        grid-row-gap:15px;
    }

    .imagen {
        width:100%;
        height: 100%;
        object-fit: cover;
 
    }
